{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:react/recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier", "import"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreTemplateLiterals": true,
        "ignoreStrings": true,
        "ignoreUrls": true
      }
    ],
    "no-console": "warn",
    "import/order": [
      "warn",
      {
        "groups": [["builtin", "external", "internal"]]
      }
    ],
    "react/display-name": "off",
    "react/jsx-props-no-spreading": ["off"],
    "react/jsx-one-expression-per-line": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-module-boundary-types": ["off"],
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-namespace": [
      "error",
      {
        "allowDeclarations": true
      }
    ],
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "document": "readonly",
    "navigator": "readonly"
  }
}
