.email-frame-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

iframe.email-frame {
  margin: 10px 0px 10px 0px;
  max-width: 100%;
  width: 800px;
  height: 600px;
  display: block;
  overflow: auto;
  resize: horizontal;
  border: 4px solid #cbd4fb;
  box-sizing: border-box;
}
